.about-container__div {
  background-color: #fff6dd;
  min-height: 1000px; }

.home-container__div {
  background: linear-gradient(#f5c63f, #ff4d4d, #d4677f, #798c6c);
  min-height: 1000px; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none; }

.App-header {
  background: linear-gradient(#f5c63f, #ff4d4d, #d4677f, #798c6c);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; }

.App-link {
  color: #61dafb; }

.app-about__div {
  width: 100%;
  background-color: #fff6dc;
  min-height: 1000px; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
